@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DebuggerCollege</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="../Courses/index" class="btn btn-primary btn-lg">Our Courses &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DebuggerCollege Sports</h2>
        <p>
            At Debugger we offer a range of sports for our student to take part in and enjoy their time.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register Your Interest</h2>
        <p>If your looking to stuy one of our courses that we offer here at DebuggerCollege
        please fill complete our form and we'll be in touch with you soon'</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>