@{
    ViewBag.Title = "HomePage";
}

<div class="jumbotron">
    <h1>Debugger College</h1>
    <p class="lead">Find your better place at Debugger College.</p>
    <img src="https://miro.medium.com/max/480/1*tNNNECYX4q2jB2GCFk57Tw.png" height="350" width="1000">
    <br>
    <br>

    <p><a href="../Courses/index" class="btn btn-primary btn-lg">Our Courses &raquo;</a></p>
</div>

<h1><b>Courses:</b></h1>
<div class="row">
    <div class="col-md-4">
        <h2>Computer Science</h2>
        <p>
            Computer science is the study of computation, automation, and information. Computer science spans theoretical disciplines (such as algorithms, theory of computation, and information theory) to practical disciplines (including the design and implementation of hardware and software).
        </p>
        <img src="https://www.ge.com/content/dam/gepower-new/global/en_US/images/gas-new-site/products/digital-and-controls/cybersecurity/hero-proven-cyber-security-expertise.jpg" width="350" height="190">
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cyber Security</h2>
        <p>Computer security, cybersecurity, or information technology security is the protection of computer systems and networks from information disclosure, theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</p>
        <img src="https://s27389.pcdn.co/wp-content/uploads/2021/04/creating-rolling-out-effective-cyber-security-strategy-1024x440.jpeg.optimal.jpeg" width="360" height="190">
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Software Engineering</h2>
        <p>Software engineering is an engineering approach on a software development of systematics application. A software engineer is a person who applies the principles of software engineering to design, develop, maintain, test, and evaluate computer software</p>
        <br>
        <img src="https://www.herzing.edu/sites/default/files/styles/fp_960_640/public/2020-09/how-to-become-software-engineer.jpg.webp?itok=3WVOMgAJ" width="360" height="190">
        <p><a class="btn btn-default" href="~/SoftwareEngineering/Modules">Learn more &raquo;</a></p>
    </div>
</div>
<br>
<div class="jumbotron">
    <h2>Find out more about college</h2>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">About Us</a></p>
</div>
<br>
<div>
    <a href="https://www.binance.com/en" target="_blank"><img src="https://c.tenor.com/J1EMDXjYVEIAAAAC/binance-cz-binance.gif" width="1140" height="300">Smooking is dangerous to health</a>
</div>